flows/dashboard_monitoring.json
[
  {
    "id": "dashboard_flow",
    "type": "tab",
    "label": "Dashboard Monitoring",
    "disabled": false,
    "info": "Professional Dashboard 2.0 interface for industrial power monitoring and control"
  },
  {
    "id": "ui_base",
    "type": "ui-base",
    "name": "Industrial Power Control Dashboard",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false
  },
  {
    "id": "ui_page_overview",
    "type": "ui-page",
    "name": "System Overview",
    "ui": "ui_base",
    "path": "/overview",
    "icon": "home",
    "layout": "grid",
    "theme": "theme_dark",
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_power_flow",
    "type": "ui-group",
    "name": "Power Flow",
    "page": "ui_page_overview",
    "width": "6",
    "height": "3",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_system_status",
    "type": "ui-group",
    "name": "System Status",
    "page": "ui_page_overview",
    "width": "6",
    "height": "3",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_load_sharing",
    "type": "ui-group",
    "name": "Load Sharing",
    "page": "ui_page_overview",
    "width": "6",
    "height": "2",
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_huawei_status",
    "type": "ui-group",
    "name": "Huawei SmartLogger",
    "page": "ui_page_overview",
    "width": "4",
    "height": "3",
    "order": 4,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_gc600_status",
    "type": "ui-group",
    "name": "SICES GC600",
    "page": "ui_page_overview",
    "width": "4",
    "height": "3",
    "order": 5,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_mc200_status",
    "type": "ui-group",
    "name": "SICES MC200",
    "page": "ui_page_overview",
    "width": "4",
    "height": "3",
    "order": 6,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_manual_control",
    "type": "ui-group",
    "name": "Manual Control",
    "page": "ui_page_overview",
    "width": "12",
    "height": "2",
    "order": 7,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "power_flow_template",
    "type": "ui-template",
    "name": "Power Flow Visualization",
    "group": "ui_group_power_flow",
    "order": 1,
    "width": "6",
    "height": "3",
    "format": "<div class=\"power-flow-container\">\n  <svg width=\"100%\" height=\"200\" viewBox=\"0 0 400 200\">\n    <!-- PV Array -->\n    <rect x=\"20\" y=\"20\" width=\"60\" height=\"40\" fill=\"#4CAF50\" stroke=\"#333\" stroke-width=\"2\"/>\n    <text x=\"50\" y=\"45\" text-anchor=\"middle\" fill=\"white\" font-size=\"12\">PV</text>\n    <text x=\"50\" y=\"75\" text-anchor=\"middle\" fill=\"#333\" font-size=\"10\">{{msg.payload.pv_power}} kW</text>\n    \n    <!-- Genset -->\n    <rect x=\"20\" y=\"140\" width=\"60\" height=\"40\" fill=\"#FF9800\" stroke=\"#333\" stroke-width=\"2\"/>\n    <text x=\"50\" y=\"165\" text-anchor=\"middle\" fill=\"white\" font-size=\"12\">GEN</text>\n    <text x=\"50\" y=\"195\" text-anchor=\"middle\" fill=\"#333\" font-size=\"10\">{{msg.payload.genset_power}} kW</text>\n    \n    <!-- Load -->\n    <rect x=\"170\" y=\"80\" width=\"60\" height=\"40\" fill=\"#2196F3\" stroke=\"#333\" stroke-width=\"2\"/>\n    <text x=\"200\" y=\"105\" text-anchor=\"middle\" fill=\"white\" font-size=\"12\">LOAD</text>\n    <text x=\"200\" y=\"135\" text-anchor=\"middle\" fill=\"#333\" font-size=\"10\">{{msg.payload.total_load}} kW</text>\n    \n    <!-- Grid -->\n    <rect x=\"320\" y=\"80\" width=\"60\" height=\"40\" fill=\"#9C27B0\" stroke=\"#333\" stroke-width=\"2\"/>\n    <text x=\"350\" y=\"105\" text-anchor=\"middle\" fill=\"white\" font-size=\"12\">GRID</text>\n    <text x=\"350\" y=\"135\" text-anchor=\"middle\" fill=\"#333\" font-size=\"10\">{{msg.payload.grid_power}} kW</text>\n    \n    <!-- Power Flow Lines -->\n    <line x1=\"80\" y1=\"40\" x2=\"170\" y2=\"100\" stroke=\"#4CAF50\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n    <line x1=\"80\" y1=\"160\" x2=\"170\" y2=\"100\" stroke=\"#FF9800\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n    <line x1=\"230\" y1=\"100\" x2=\"320\" y2=\"100\" stroke=\"#2196F3\" stroke-width=\"3\" marker-end=\"url(#arrowhead)\"/>\n    \n    <!-- Arrow Marker -->\n    <defs>\n      <marker id=\"arrowhead\" markerWidth=\"10\" markerHeight=\"7\" refX=\"10\" refY=\"3.5\" orient=\"auto\">\n        <polygon points=\"0 0, 10 3.5, 0 7\" fill=\"#333\"/>\n      </marker>\n    </defs>\n  </svg>\n</div>\n\n<style>\n.power-flow-container {\n  background: linear-gradient(135deg, #1e1e1e 0%, #2d2d2d 100%);\n  border-radius: 8px;\n  padding: 10px;\n  color: white;\n}\n</style>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 200,
    "y": 60,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "system_power_gauge",
    "type": "ui-gauge",
    "name": "Total System Power",
    "group": "ui_group_system_status",
    "order": 1,
    "width": "6",
    "height": "2",
    "gtype": "donut",
    "title": "System Power",
    "label": "kW",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": [
      {"color":"#00b04f","t":"min","v":0},
      {"color":"#ca3838","t":"max","v":"1000"}
    ],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 200,
    "y": 160,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "grid_status_indicator",
    "type": "ui-led",
    "name": "Grid Status",
    "group": "ui_group_system_status",
    "order": 2,
    "width": "3",
    "height": "1",
    "label": "Grid Status",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "states": [
      {"color":"#00b04f","label":"Connected","value":"connected"},
      {"color":"#ca3838","label":"Disconnected","value":"disconnected"},
      {"color":"#ff9800","label":"Exporting","value":"exporting"}
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "className": "",
    "x": 200,
    "y": 200,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "export_status_indicator",
    "type": "ui-led",
    "name": "Export Status",
    "group": "ui_group_system_status",
    "order": 3,
    "width": "3",
    "height": "1",
    "label": "Export Status",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "states": [
      {"color":"#00b04f","label":"Disabled","value":"disabled"},
      {"color":"#ca3838","label":"Active","value":"active"},
      {"color":"#9e9e9e","label":"Standby","value":"standby"}
    ],
    "allowColorForValueInMessage": false,
    "shape": "square",
    "showGlow": true,
    "className": "",
    "x": 200,
    "y": 240,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "pv_contribution_chart",
    "type": "ui-chart",
    "name": "PV Contribution",
    "group": "ui_group_load_sharing",
    "order": 1,
    "width": "3",
    "height": "2",
    "label": "PV",
    "chartType": "doughnut",
    "legend": "false",
    "xAxisLabel": "",
    "yAxisLabel": "",
    "yAxisProperty": "",
    "yAxisPropertyType": "msg",
    "xAxisProperty": "",
    "xAxisPropertyType": "msg",
    "yAxisType": "linear",
    "yAxisMin": "",
    "yAxisMax": "",
    "xAxisType": "time",
    "xAxisFormat": "HH:mm:ss",
    "xAxisFormatType": "auto",
    "className": "",
    "x": 200,
    "y": 300,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "genset_contribution_chart",
    "type": "ui-chart",
    "name": "Genset Contribution",
    "group": "ui_group_load_sharing",
    "order": 2,
    "width": "3",
    "height": "2",
    "label": "Genset",
    "chartType": "doughnut",
    "legend": "false",
    "xAxisLabel": "",
    "yAxisLabel": "",
    "yAxisProperty": "",
    "yAxisPropertyType": "msg",
    "xAxisProperty": "",
    "xAxisPropertyType": "msg",
    "yAxisType": "linear",
    "yAxisMin": "",
    "yAxisMax": "",
    "xAxisType": "time",
    "xAxisFormat": "HH:mm:ss",
    "xAxisFormatType": "auto",
    "className": "",
    "x": 400,
    "y": 300,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "huawei_power_display",
    "type": "ui-text",
    "name": "Huawei Power",
    "group": "ui_group_huawei_status",
    "order": 1,
    "width": "4",
    "height": "1",
    "format": "{{msg.payload}} kW",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 200,
    "y": 400,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "huawei_voltage_gauge",
    "type": "ui-gauge",
    "name": "Huawei Voltage",
    "group": "ui_group_huawei_status",
    "order": 2,
    "width": "4",
    "height": "2",
    "gtype": "wave",
    "title": "Grid Voltage",
    "label": "V",
    "format": "{{value}}",
    "min": 200,
    "max": 250,
    "colors": [
      {"color":"#ca3838","t":"min","v":200},
      {"color":"#00b04f","t":"val","v":230},
      {"color":"#ca3838","t":"max","v":250}
    ],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 200,
    "y": 440,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "gc600_power_display",
    "type": "ui-text",
    "name": "GC600 Power",
    "group": "ui_group_gc600_status",
    "order": 1,
    "width": "4",
    "height": "1",
    "format": "{{msg.payload}} kW",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 400,
    "y": 400,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "gc600_status_led",
    "type": "ui-led",
    "name": "Genset Status",
    "group": "ui_group_gc600_status",
    "order": 2,
    "width": "4",
    "height": "1",
    "label": "Genset Status",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "states": [
      {"color":"#00b04f","label":"Running","value":"running"},
      {"color":"#ca3838","label":"Stopped","value":"stopped"},
      {"color":"#ff9800","label":"Starting","value":"starting"}
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "className": "",
    "x": 400,
    "y": 440,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "mc200_grid_power",
    "type": "ui-text",
    "name": "MC200 Grid Power",
    "group": "ui_group_mc200_status",
    "order": 1,
    "width": "4",
    "height": "1",
    "format": "{{msg.payload}} kW",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 600,
    "y": 400,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "mc200_import_export",
    "type": "ui-chart",
    "name": "Import/Export History",
    "group": "ui_group_mc200_status",
    "order": 2,
    "width": "4",
    "height": "3",
    "label": "Import/Export",
    "chartType": "line",
    "legend": "true",
    "xAxisLabel": "",
    "yAxisLabel": "kW",
    "yAxisProperty": "",
    "yAxisPropertyType": "msg",
    "xAxisProperty": "",
    "xAxisPropertyType": "msg",
    "yAxisType": "linear",
    "yAxisMin": "",
    "yAxisMax": "",
    "xAxisType": "time",
    "xAxisFormat": "HH:mm:ss",
    "xAxisFormatType": "auto",
    "className": "",
    "x": 600,
    "y": 440,
    "z": "dashboard_flow",
    "wires": []
  },
  {
    "id": "mgcb_control_switch",
    "type": "ui-switch",
    "name": "MGCB Control",
    "group": "ui_group_manual_control",
    "order": 1,
    "width": "3",
    "height": "1",
    "label": "Main Grid CB",
    "labelPosition": "left",
    "colorTxt": "#717171",
    "colorOn": "#00b04f",
    "colorOff": "#ca3838",
    "icon": "",
    "iconPosition": "left",
    "onvalue": "1",
    "offvalue": "0",
    "onicon": "",
    "officon": "",
    "className": "",
    "x": 200,
    "y": 500,
    "z": "dashboard_flow",
    "wires": [
      ["mgcb_command_handler"]
    ]
  },
  {
    "id": "genset_control_switch",
    "type": "ui-switch",
    "name": "Genset Control",
    "group": "ui_group_manual_control",
    "order": 2,
    "width": "3",
    "height": "1",
    "label": "Genset Start/Stop",
    "labelPosition": "left",
    "colorTxt": "#717171",
    "colorOn": "#00b04f",
    "colorOff": "#ca3838",
    "icon": "",
    "iconPosition": "left",
    "onvalue": "1",
    "offvalue": "0",
    "onicon": "",
    "officon": "",
    "className": "",
    "x": 400,
    "y": 500,
    "z": "dashboard_flow",
    "wires": [
      ["genset_command_handler"]
    ]
  },
  {
    "id": "export_control_switch",
    "type": "ui-switch",
    "name": "Export Control",
    "group": "ui_group_manual_control",
    "order": 3,
    "width": "3",
    "height": "1",
    "label": "Export Enable",
    "labelPosition": "left",
    "colorTxt": "#717171",
    "colorOn": "#00b04f",
    "colorOff": "#ca3838",
    "icon": "",
    "iconPosition": "left",
    "onvalue": "1",
    "offvalue": "0",
    "onicon": "",
    "officon": "",
    "className": "",
    "x": 600,
    "y": 500,
    "z": "dashboard_flow",
    "wires": [
      ["export_command_handler"]
    ]
  },
  {
    "id": "pv_limit_slider",
    "type": "ui-slider",
    "name": "PV Power Limit",
    "group": "ui_group_manual_control",
    "order": 4,
    "width": "6",
    "height": "1",
    "label": "PV Power Limit (%)",
    "labelPosition": "left",
    "min": 0,
    "max": 100,
    "step": 1,
    "thumb": "default",
    "showTicks": "false",
    "showTooltip": "false",
    "className": "",
    "x": 200,
    "y": 540,
    "z": "dashboard_flow",
    "wires": [
      ["pv_limit_command_handler"]
    ]
  },
  {
    "id": "genset_setpoint_slider",
    "type": "ui-slider",
    "name": "Genset Power Setpoint",
    "group": "ui_group_manual_control",
    "order": 5,
    "width": "6",
    "height": "1",
    "label": "Genset Power Setpoint (%)",
    "labelPosition": "left",
    "min": 0,
    "max": 100,
    "step": 1,
    "thumb": "default",
    "showTicks": "false",
    "showTooltip": "false",
    "className": "",
    "x": 400,
    "y": 540,
    "z": "dashboard_flow",
    "wires": [
      ["genset_setpoint_command_handler"]
    ]
  },
  {
    "id": "dashboard_data_processor",
    "type": "function",
    "name": "Dashboard Data Processor",
    "func": "// Process consolidated device data for dashboard display\nconst devices = msg.payload.devices || {};\nconst huawei = devices['Huawei SmartLogger 3000A'] || {};\nconst gc600 = devices['SICES GC600'] || {};\nconst mc200 = devices['SICES MC200'] || {};\n\n// Prepare power flow data\nconst powerFlowData = {\n  pv_power: parseFloat(huawei.active_power) || 0,\n  genset_power: parseFloat(gc600.active_power) || 0,\n  grid_power: parseFloat(mc200.active_power_total) || 0,\n  total_load: (parseFloat(huawei.active_power) || 0) + (parseFloat(gc600.active_power) || 0) - (parseFloat(mc200.active_power_total) || 0),\n  is_importing: mc200.is_importing || false,\n  is_exporting: mc200.is_exporting || false,\n  timestamp: new Date().toISOString()\n};\n\n// Send power flow data\nnode.send([{\n  topic: 'dashboard/power_flow',\n  payload: powerFlowData\n}, null, null, null, null, null, null, null]);\n\n// Send individual device data\nif (huawei.active_power !== undefined) {\n  node.send([null, {\n    topic: 'dashboard/huawei_power',\n    payload: parseFloat(huawei.active_power) || 0\n  }, null, null, null, null, null, null]);\n  \n  node.send([null, null, {\n    topic: 'dashboard/huawei_voltage',\n    payload: parseFloat(huawei.phase_a_voltage) || 0\n  }, null, null, null, null, null]);\n}\n\nif (gc600.active_power !== undefined) {\n  node.send([null, null, null, {\n    topic: 'dashboard/gc600_power',\n    payload: parseFloat(gc600.active_power) || 0\n  }, null, null, null, null]);\n  \n  const gensetStatus = parseFloat(gc600.active_power) > 0 ? 'running' : 'stopped';\n  node.send([null, null, null, null, {\n    topic: 'dashboard/gc600_status',\n    payload: gensetStatus\n  }, null, null, null]);\n}\n\nif (mc200.active_power_total !== undefined) {\n  node.send([null, null, null, null, null, {\n    topic: 'dashboard/mc200_power',\n    payload: parseFloat(mc200.active_power_total) || 0\n  }, null, null]);\n  \n  // Grid status indicator\n  let gridStatus = 'connected';\n  if (mc200.is_exporting) gridStatus = 'exporting';\n  if (mc200.grid_status === 0) gridStatus = 'disconnected';\n  \n  node.send([null, null, null, null, null, null, {\n    topic: 'dashboard/grid_status',\n    payload: gridStatus\n  }, null]);\n  \n  // Export status\n  const exportStatus = mc200.is_exporting ? 'active' : 'standby';\n  node.send([null, null, null, null, null, null, null, {\n    topic: 'dashboard/export_status',\n    payload: exportStatus\n  }]);\n}\n\nreturn null;",
    "outputs": 8,
    "noerr": 0,
    "x": 200,
    "y": 60,
    "z": "dashboard_flow",
    "wires": [
      ["power_flow_template"],
      ["huawei_power_display"],
      ["huawei_voltage_gauge"],
      ["gc600_power_display"],
      ["gc600_status_led"],
      ["mc200_grid_power"],
      ["grid_status_indicator"],
      ["export_status_indicator"]
    ]
  },
  {
    "id": "mgcb_command_handler",
    "type": "function",
    "name": "MGCB Command Handler",
    "func": "// Handle MGCB control command\nconst command = {\n  device: 'SICES MC200',\n  action: 'mgcb_control',\n  value: msg.payload,\n  timestamp: new Date().toISOString(),\n  source: 'manual_dashboard'\n};\n\nmsg.payload = command;\nmsg.topic = 'control/manual/mgcb';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 500,
    "z": "dashboard_flow",
    "wires": [
      ["manual_command_processor"]
    ]
  },
  {
    "id": "genset_command_handler",
    "type": "function",
    "name": "Genset Command Handler",
    "func": "// Handle genset start/stop command\nconst command = {\n  device: 'SICES GC600',\n  action: msg.payload === 1 ? 'start_genset' : 'stop_genset',\n  value: msg.payload,\n  timestamp: new Date().toISOString(),\n  source: 'manual_dashboard'\n};\n\nmsg.payload = command;\nmsg.topic = 'control/manual/genset';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 500,
    "z": "dashboard_flow",
    "wires": [
      ["manual_command_processor"]
    ]
  },
  {
    "id": "export_command_handler",
    "type": "function",
    "name": "Export Command Handler",
    "func": "// Handle export enable/disable command\nconst command = {\n  device: 'SICES MC200',\n  action: 'export_enable',\n  value: msg.payload,\n  timestamp: new Date().toISOString(),\n  source: 'manual_dashboard'\n};\n\nmsg.payload = command;\nmsg.topic = 'control/manual/export';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 500,
    "z": "dashboard_flow",
    "wires": [
      ["manual_command_processor"]
    ]
  },
  {
    "id": "pv_limit_command_handler",
    "type": "function",
    "name": "PV Limit Command Handler",
    "func": "// Handle PV power limit command\nconst command = {\n  device: 'Huawei SmartLogger 3000A',\n  action: 'set_power_limit',\n  value: msg.payload,\n  timestamp: new Date().toISOString(),\n  source: 'manual_dashboard'\n};\n\nmsg.payload = command;\nmsg.topic = 'control/manual/pv_limit';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 540,
    "z": "dashboard_flow",
    "wires": [
      ["manual_command_processor"]
    ]
  },
  {
    "id": "genset_setpoint_command_handler",
    "type": "function",
    "name": "Genset Setpoint Handler",
    "func": "// Handle genset power setpoint command\nconst command = {\n  device: 'SICES GC600',\n  action: 'set_power_setpoint',\n  value: msg.payload,\n  timestamp: new Date().toISOString(),\n  source: 'manual_dashboard'\n};\n\nmsg.payload = command;\nmsg.topic = 'control/manual/genset_setpoint';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 540,
    "z": "dashboard_flow",
    "wires": [
      ["manual_command_processor"]
    ]
  },
  {
    "id": "manual_command_processor",
    "type": "function",
    "name": "Manual Command Processor",
    "func": "// Process manual commands from dashboard\nconst command = msg.payload;\n\n// Log manual command\nnode.log(`Manual command: ${command.action} on ${command.device} with value ${command.value}`);\n\n// Override automatic control temporarily\nconst manualOverride = global.get('manualOverride') || {};\nmanualOverride[command.device] = {\n  active: true,\n  timestamp: command.timestamp,\n  expires: Date.now() + 300000 // 5 minutes\n};\nglobal.set('manualOverride', manualOverride);\n\n// Forward to control logic\nmsg.topic = 'control/manual';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 520,
    "z": "dashboard_flow",
    "wires": [
      ["manual_control_output"]
    ]
  },
  {
    "id": "manual_control_output",
    "type": "debug",
    "name": "Manual Control Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 520,
    "z": "dashboard_flow"
  }
]