flows/dashboard_monitoring.json
[
  {
    "id": "dashboard_flow",
    "type": "tab",
    "label": "Industrial Dashboard 2.0",
    "disabled": false,
    "info": "Professional industrial dashboard using FlowFuse Dashboard 2.0 for monitoring and control"
  },
  {
    "id": "ui_base",
    "type": "ui-base",
    "name": "Industrial Power Control Dashboard",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false,
    "navigationStyle": "default"
  },
  {
    "id": "ui_page_overview",
    "type": "ui-page",
    "name": "System Overview",
    "ui": "ui_base",
    "path": "/overview",
    "icon": "home",
    "layout": "grid",
    "theme": "theme-dark",
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_page_devices",
    "type": "ui-page", 
    "name": "Device Status",
    "ui": "ui_base",
    "path": "/devices",
    "icon": "developer_board",
    "layout": "grid",
    "theme": "theme-dark",
    "order": 2,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_page_control",
    "type": "ui-page",
    "name": "Manual Control",
    "ui": "ui_base", 
    "path": "/control",
    "icon": "settings",
    "layout": "grid",
    "theme": "theme-dark",
    "order": 3,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_power_flow",
    "type": "ui-group",
    "name": "Power Flow Diagram",
    "page": "ui_page_overview",
    "width": "12",
    "height": "6",
    "order": 1,
    "showTitle": true,
    "className": "power-flow-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_system_status",
    "type": "ui-group",
    "name": "System Status",
    "page": "ui_page_overview",
    "width": "6",
    "height": "4",
    "order": 2,
    "showTitle": true,
    "className": "status-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_load_sharing",
    "type": "ui-group",
    "name": "Load Sharing",
    "page": "ui_page_overview",
    "width": "6",
    "height": "4",
    "order": 3,
    "showTitle": true,
    "className": "load-sharing-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_huawei_status",
    "type": "ui-group",
    "name": "Huawei SmartLogger 3000A",
    "page": "ui_page_devices",
    "width": "4",
    "height": "8",
    "order": 1,
    "showTitle": true,
    "className": "device-group huawei-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_gc600_status",
    "type": "ui-group",
    "name": "SICES GC600 Genset",
    "page": "ui_page_devices",
    "width": "4",
    "height": "8",
    "order": 2,
    "showTitle": true,
    "className": "device-group gc600-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_mc200_status",
    "type": "ui-group",
    "name": "SICES MC200 Grid Monitor",
    "page": "ui_page_devices",
    "width": "4",
    "height": "8",
    "order": 3,
    "showTitle": true,
    "className": "device-group mc200-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ui_group_manual_control",
    "type": "ui-group",
    "name": "Manual Control Panel",
    "page": "ui_page_control",
    "width": "12",
    "height": "8",
    "order": 1,
    "showTitle": true,
    "className": "control-group",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "power_flow_template",
    "type": "ui-template",
    "name": "Power Flow Diagram",
    "group": "ui_group_power_flow",
    "order": 1,
    "width": "12",
    "height": "6",
    "format": "<div class=\"power-flow-container\">\n  <svg viewBox=\"0 0 1000 400\" class=\"power-flow-svg\">\n    <!-- PV System -->\n    <g class=\"pv-system\">\n      <rect x=\"50\" y=\"50\" width=\"120\" height=\"80\" class=\"device-box pv-box\" />\n      <text x=\"110\" y=\"75\" class=\"device-label\">PV Inverter</text>\n      <text x=\"110\" y=\"95\" class=\"device-model\">SmartLogger 3000A</text>\n      <text x=\"110\" y=\"115\" class=\"device-value pv-power\">{{msg.payload.pv_power || 0}} kW</text>\n    </g>\n    \n    <!-- Genset -->\n    <g class=\"genset-system\">\n      <rect x=\"50\" y=\"250\" width=\"120\" height=\"80\" class=\"device-box genset-box\" />\n      <text x=\"110\" y=\"275\" class=\"device-label\">Genset</text>\n      <text x=\"110\" y=\"295\" class=\"device-model\">SICES GC600</text>\n      <text x=\"110\" y=\"315\" class=\"device-value genset-power\">{{msg.payload.genset_power || 0}} kW</text>\n    </g>\n    \n    <!-- Load Center -->\n    <g class=\"load-center\">\n      <circle cx=\"500\" cy=\"200\" r=\"80\" class=\"load-circle\" />\n      <text x=\"500\" y=\"190\" class=\"load-label\">LOAD</text>\n      <text x=\"500\" y=\"210\" class=\"load-value\">{{msg.payload.total_load || 0}} kW</text>\n    </g>\n    \n    <!-- Grid Connection -->\n    <g class=\"grid-system\">\n      <rect x=\"750\" y=\"150\" width=\"120\" height=\"100\" class=\"device-box grid-box\" />\n      <text x=\"810\" y=\"175\" class=\"device-label\">Grid</text>\n      <text x=\"810\" y=\"195\" class=\"device-model\">MC200 Monitor</text>\n      <text x=\"810\" y=\"215\" class=\"device-value grid-power\">{{msg.payload.grid_power || 0}} kW</text>\n      <text x=\"810\" y=\"235\" class=\"grid-status\">{{msg.payload.is_importing ? 'IMPORTING' : msg.payload.is_exporting ? 'EXPORTING' : 'STANDBY'}}</text>\n    </g>\n    \n    <!-- Power Flow Lines -->\n    <line x1=\"170\" y1=\"90\" x2=\"420\" y2=\"160\" class=\"power-line pv-line\" stroke-width=\"{{msg.payload.pv_power/10 || 1}}\" />\n    <line x1=\"170\" y1=\"290\" x2=\"420\" y2=\"240\" class=\"power-line genset-line\" stroke-width=\"{{msg.payload.genset_power/10 || 1}}\" />\n    <line x1=\"580\" y1=\"200\" x2=\"750\" y2=\"200\" class=\"power-line grid-line\" stroke-width=\"{{Math.abs(msg.payload.grid_power)/10 || 1}}\" />\n    \n    <!-- Flow Direction Arrows -->\n    <polygon points=\"300,150 320,160 300,170\" class=\"flow-arrow pv-arrow\" style=\"display: {{msg.payload.pv_power > 0 ? 'block' : 'none'}}\" />\n    <polygon points=\"300,250 320,240 300,230\" class=\"flow-arrow genset-arrow\" style=\"display: {{msg.payload.genset_power > 0 ? 'block' : 'none'}}\" />\n    <polygon points=\"{{msg.payload.is_exporting ? '700' : '650'}},190 {{msg.payload.is_exporting ? '680' : '670'}},200 {{msg.payload.is_exporting ? '700' : '650'}},210\" class=\"flow-arrow grid-arrow\" />\n  </svg>\n</div>\n\n<style>\n.power-flow-container {\n  width: 100%;\n  height: 100%;\n  background: linear-gradient(135deg, #1e1e1e 0%, #2d2d2d 100%);\n  border-radius: 8px;\n  padding: 10px;\n}\n\n.power-flow-svg {\n  width: 100%;\n  height: 100%;\n}\n\n.device-box {\n  fill: #3a3a3a;\n  stroke: #555;\n  stroke-width: 2;\n  rx: 5;\n}\n\n.pv-box {\n  fill: #FFA500;\n  stroke: #FF8C00;\n}\n\n.genset-box {\n  fill: #32CD32;\n  stroke: #228B22;\n}\n\n.grid-box {\n  fill: #4169E1;\n  stroke: #1E90FF;\n}\n\n.load-circle {\n  fill: #DC143C;\n  stroke: #B22222;\n  stroke-width: 3;\n}\n\n.device-label, .load-label {\n  fill: white;\n  font-size: 14px;\n  font-weight: bold;\n  text-anchor: middle;\n}\n\n.device-model {\n  fill: #ccc;\n  font-size: 10px;\n  text-anchor: middle;\n}\n\n.device-value, .load-value {\n  fill: white;\n  font-size: 12px;\n  font-weight: bold;\n  text-anchor: middle;\n}\n\n.grid-status {\n  fill: #FFD700;\n  font-size: 10px;\n  font-weight: bold;\n  text-anchor: middle;\n}\n\n.power-line {\n  stroke: #00FF00;\n  stroke-width: 3;\n  opacity: 0.8;\n}\n\n.pv-line {\n  stroke: #FFA500;\n}\n\n.genset-line {\n  stroke: #32CD32;\n}\n\n.grid-line {\n  stroke: #4169E1;\n}\n\n.flow-arrow {\n  fill: #00FF00;\n  opacity: 0.9;\n}\n\n.pv-arrow {\n  fill: #FFA500;\n}\n\n.genset-arrow {\n  fill: #32CD32;\n}\n\n.grid-arrow {\n  fill: #4169E1;\n}\n</style>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 200,
    "y": 100,
    "z": "dashboard_flow",
    "wires": [[]]
  },
  {
    "id": "system_status_gauge",
    "type": "ui-gauge",
    "name": "Total System Power",
    "group": "ui_group_system_status",
    "order": 1,
    "width": "6",
    "height": "2",
    "gtype": "donut",
    "title": "Total System Power",
    "label": "kW",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": [\n      {"color":"#00b04f","t":"min","v":0},\n      {"color":"#ca3838","t":"max","v":"1000"}\n    ],\n    "seg1": "",\n    "seg2": "",\n    "className": "",\n    "x": 200,\n    "y": 160,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "grid_status_indicator",\n    "type": "ui-led",\n    "name": "Grid Status",\n    "group": "ui_group_system_status",\n    "order": 2,\n    "width": "3",\n    "height": "1",\n    "label": "Grid Status",\n    "labelPlacement": "left",\n    "labelAlignment": "left",\n    "states": [\n      {"color":"#00b04f","label":"Connected","value":"connected"},\n      {"color":"#ca3838","label":"Disconnected","value":"disconnected"},\n      {"color":"#ff9800","label":"Exporting","value":"exporting"}\n    ],\n    "allowColorForValueInMessage": false,\n    "shape": "circle",\n    "showGlow": true,\n    "className": "",\n    "x": 200,\n    "y": 200,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "export_status_indicator",\n    "type": "ui-led",\n    "name": "Export Status",\n    "group": "ui_group_system_status",\n    "order": 3,\n    "width": "3",\n    "height": "1",\n    "label": "Export Status",\n    "labelPlacement": "left",\n    "labelAlignment": "left",\n    "states": [\n      {"color":"#00b04f","label":"Disabled","value":"disabled"},\n      {"color":"#ca3838","label":"Active","value":"active"},\n      {"color":"#9e9e9e","label":"Standby","value":"standby"}\n    ],\n    "allowColorForValueInMessage": false,\n    "shape": "square",\n    "showGlow": true,\n    "className": "",\n    "x": 200,\n    "y": 240,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "pv_contribution_chart",\n    "type": "ui-chart",\n    "name": "PV Contribution",\n    "group": "ui_group_load_sharing",\n    "order": 1,\n    "width": "3",\n    "height": "2",\n    "label": "PV",\n    "chartType": "doughnut",\n    "legend": "false",\n    "xAxisLabel": "",\n    "yAxisLabel": "",\n    "yAxisProperty": "",\n    "yAxisPropertyType": "msg",\n    "xAxisProperty": "",\n    "xAxisPropertyType": "msg",\n    "yAxisType": "linear",\n    "yAxisMin": "",\n    "yAxisMax": "",\n    "xAxisType": "time",\n    "xAxisFormat": "HH:mm:ss",\n    "xAxisFormatType": "auto",\n    "className": "",\n    "x": 200,\n    "y": 300,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "genset_contribution_chart",\n    "type": "ui-chart",\n    "name": "Genset Contribution",\n    "group": "ui_group_load_sharing",\n    "order": 2,\n    "width": "3",\n    "height": "2",\n    "label": "Genset",\n    "chartType": "doughnut",\n    "legend": "false",\n    "xAxisLabel": "",\n    "yAxisLabel": "",\n    "yAxisProperty": "",\n    "yAxisPropertyType": "msg",\n    "xAxisProperty": "",\n    "xAxisPropertyType": "msg",\n    "yAxisType": "linear",\n    "yAxisMin": "",\n    "yAxisMax": "",\n    "xAxisType": "time",\n    "xAxisFormat": "HH:mm:ss",\n    "xAxisFormatType": "auto",\n    "className": "",\n    "x": 400,\n    "y": 300,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "huawei_power_display",\n    "type": "ui-text",\n    "name": "Huawei Power",\n    "group": "ui_group_huawei_status",\n    "order": 1,\n    "width": "4",\n    "height": "1",\n    "format": "{{msg.payload}} kW",\n    "layout": "row-spread",\n    "style": false,\n    "font": "",\n    "fontSize": 16,\n    "color": "#717171",\n    "className": "",\n    "x": 200,\n    "y": 400,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "huawei_voltage_gauge",\n    "type": "ui-gauge",\n    "name": "Huawei Voltage",\n    "group": "ui_group_huawei_status",\n    "order": 2,\n    "width": "4",\n    "height": "2",\n    "gtype": "wave",\n    "title": "Grid Voltage",\n    "label": "V",\n    "format": "{{value}}",\n    "min": 200,\n    "max": 250,\n    "colors": [\n      {"color":"#ca3838","t":"min","v":200},\n      {"color":"#00b04f","t":"val","v":230},\n      {"color":"#ca3838","t":"max","v":250}\n    ],\n    "seg1": "",\n    "seg2": "",\n    "className": "",\n    "x": 200,\n    "y": 440,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "gc600_power_display",\n    "type": "ui-text",\n    "name": "GC600 Power",\n    "group": "ui_group_gc600_status",\n    "order": 1,\n    "width": "4",\n    "height": "1",\n    "format": "{{msg.payload}} kW",\n    "layout": "row-spread",\n    "style": false,\n    "font": "",\n    "fontSize": 16,\n    "color": "#717171",\n    "className": "",\n    "x": 400,\n    "y": 400,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "gc600_status_led",\n    "type": "ui-led",\n    "name": "Genset Status",\n    "group": "ui_group_gc600_status",\n    "order": 2,\n    "width": "4",\n    "height": "1",\n    "label": "Genset Status",\n    "labelPlacement": "left",\n    "labelAlignment": "left",\n    "states": [\n      {"color":"#00b04f","label":"Running","value":"running"},\n      {"color":"#ca3838","label":"Stopped","value":"stopped"},\n      {"color":"#ff9800","label":"Starting","value":"starting"}\n    ],\n    "allowColorForValueInMessage": false,\n    "shape": "circle",\n    "showGlow": true,\n    "className": "",\n    "x": 400,\n    "y": 440,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "mc200_grid_power",\n    "type": "ui-text",\n    "name": "MC200 Grid Power",\n    "group": "ui_group_mc200_status",\n    "order": 1,\n    "width": "4",\n    "height": "1",\n    "format": "{{msg.payload}} kW",\n    "layout": "row-spread",\n    "style": false,\n    "font": "",\n    "fontSize": 16,\n    "color": "#717171",\n    "className": "",\n    "x": 600,\n    "y": 400,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "mc200_import_export",\n    "type": "ui-chart",\n    "name": "Import/Export History",\n    "group": "ui_group_mc200_status",\n    "order": 2,\n    "width": "4",\n    "height": "3",\n    "label": "Import/Export",\n    "chartType": "line",\n    "legend": "true",\n    "xAxisLabel": "",\n    "yAxisLabel": "kW",\n    "yAxisProperty": "",\n    "yAxisPropertyType": "msg",\n    "xAxisProperty": "",\n    "xAxisPropertyType": "msg",\n    "yAxisType": "linear",\n    "yAxisMin": "",\n    "yAxisMax": "",\n    "xAxisType": "time",\n    "xAxisFormat": "HH:mm:ss",\n    "xAxisFormatType": "auto",\n    "className": "",\n    "x": 600,\n    "y": 440,\n    "z": "dashboard_flow",\n    "wires": []\n  },\n  {\n    "id": "mgcb_control_switch",\n    "type": "ui-switch",\n    "name": "MGCB Control",\n    "group": "ui_group_manual_control",\n    "order": 1,\n    "width": "3",\n    "height": "1",\n    "label": "Main Grid CB",\n    "labelPosition": "left",\n    "colorTxt": "#717171",\n    "colorOn": "#00b04f",\n    "colorOff": "#ca3838",\n    "icon": "",\n    "iconPosition": "left",\n    "onvalue": "1",\n    "offvalue": "0",\n    "onicon": "",\n    "officon": "",\n    "className": "",\n    "x": 200,\n    "y": 500,\n    "z": "dashboard_flow",\n    "wires": [\n      ["mgcb_command_handler"]\n    ]\n  },\n  {\n    "id": "genset_control_switch",\n    "type": "ui-switch",\n    "name": "Genset Control",\n    "group": "ui_group_manual_control",\n    "order": 2,\n    "width": "3",\n    "height": "1",\n    "label": "Genset Start/Stop",\n    "labelPosition": "left",\n    "colorTxt": "#717171",\n    "colorOn": "#00b04f",\n    "colorOff": "#ca3838",\n    "icon": "",\n    "iconPosition": "left",\n    "onvalue": "1",\n    "offvalue": "0",\n    "onicon": "",\n    "officon": "",\n    "className": "",\n    "x": 400,\n    "y": 500,\n    "z": "dashboard_flow",\n    "wires": [\n      ["genset_command_handler"]\n    ]\n  },\n  {\n    "id": "export_control_switch",\n    "type": "ui-switch",\n    "name": "Export Control",\n    "group": "ui_group_manual_control",\n    "order": 3,\n    "width": "3",\n    "height": "1",\n    "label": "Export Enable",\n    "labelPosition": "left",\n    "colorTxt": "#717171",\n    "colorOn": "#00b04f",\n    "colorOff": "#ca3838",\n    "icon": "",\n    "iconPosition": "left",\n    "onvalue": "1",\n    "offvalue": "0",\n    "onicon": "",\n    "officon": "",\n    "className": "",\n    "x": 600,\n    "y": 500,\n    "z": "dashboard_flow",\n    "wires": [\n      ["export_command_handler"]\n    ]\n  },\n  {\n    "id": "pv_limit_slider",\n    "type": "ui-slider",\n    "name": "PV Power Limit",\n    "group": "ui_group_manual_control",\n    "order": 4,\n    "width": "6",\n    "height": "1",\n    "label": "PV Power Limit (%)",\n    "labelPosition": "left",\n    "min": 0,\n    "max": 100,\n    "step": 1,\n    "thumb": "default",\n    "showTicks": "false",\n    "showTooltip": "false",\n    "className": "",\n    "x": 200,\n    "y": 540,\n    "z": "dashboard_flow",\n    "wires": [\n      ["pv_limit_command_handler"]\n    ]\n  },\n  {\n    "id": "genset_setpoint_slider",\n    "type": "ui-slider",\n    "name": "Genset Power Setpoint",\n    "group": "ui_group_manual_control",\n    "order": 5,\n    "width": "6",\n    "height": "1",\n    "label": "Genset Power Setpoint (%)",\n    "labelPosition": "left",\n    "min": 0,\n    "max": 100,\n    "step": 1,\n    "thumb": "default",\n    "showTicks": "false",\n    "showTooltip": "false",\n    "className": "",\n    "x": 400,\n    "y": 540,\n    "z": "dashboard_flow",\n    "wires": [\n      ["genset_setpoint_command_handler"]\n    ]\n  },\n  {\n    "id": "dashboard_data_processor",\n    "type": "function",\n    "name": "Dashboard Data Processor",\n    "func": "// Process consolidated device data for dashboard display\\nconst devices = msg.payload.devices || {};\\nconst huawei = devices['Huawei SmartLogger 3000A'] || {};\\nconst gc600 = devices['SICES GC600'] || {};\\nconst mc200 = devices['SICES MC200'] || {};\\n\\n// Prepare power flow data\\nconst powerFlowData = {\\n    pv_power: parseFloat(huawei.active_power) || 0,\\n    genset_power: parseFloat(gc600.active_power) || 0,\\n    grid_power: parseFloat(mc200.active_power_total) || 0,\\n    total_load: (parseFloat(huawei.active_power) || 0) + (parseFloat(gc600.active_power) || 0) - (parseFloat(mc200.active_power_total) || 0),\\n    is_importing: mc200.is_importing || false,\\n    is_exporting: mc200.is_exporting || false,\\n    timestamp: new Date().toISOString()\\n};\\n\\n// Send power flow data\\nnode.send([{\\n    topic: 'dashboard/power_flow',\\n    payload: powerFlowData\\n}, null, null, null, null, null, null, null]);\\n\\n// Send individual device data\\nif (huawei.active_power !== undefined) {\\n    node.send([null, {\\n        topic: 'dashboard/huawei_power',\\n        payload: parseFloat(huawei.active_power) || 0\\n    }, null, null, null, null, null, null]);\\n    \\n    node.send([null, null, {\\n        topic: 'dashboard/huawei_voltage',\\n        payload: parseFloat(huawei.phase_a_voltage) || 0\\n    }, null, null, null, null, null]);\\n}\\n\\nif (gc600.active_power !== undefined) {\\n    node.send([null, null, null, {\\n        topic: 'dashboard/gc600_power',\\n        payload: parseFloat(gc600.active_power) || 0\\n    }, null, null, null, null]);\\n    \\n    const gensetStatus = parseFloat(gc600.active_power) > 0 ? 'running' : 'stopped';\\n    node.send([null, null, null, null, {\\n        topic: 'dashboard/gc600_status',\\n        payload: gensetStatus\\n    }, null, null, null]);\\n}\\n\\nif (mc200.active_power_total !== undefined) {\\n    node.send([null, null, null, null, null, {\\n        topic: 'dashboard/mc200_power',\\n        payload: parseFloat(mc200.active_power_total) || 0\\n    }, null, null]);\\n    \\n    // Grid status indicator\\n    let gridStatus = 'connected';\\n    if (mc200.is_exporting) gridStatus = 'exporting';\\n    if (mc200.grid_status === 0) gridStatus = 'disconnected';\\n    \\n    node.send([null, null, null, null, null, null, {\\n        topic: 'dashboard/grid_status',\\n        payload: gridStatus\\n    }, null]);\\n    \\n    // Export status\\n    const exportStatus = mc200.is_exporting ? 'active' : 'standby';\\n    node.send([null, null, null, null, null, null, null, {\\n        topic: 'dashboard/export_status',\\n        payload: exportStatus\\n    }]);\\n}\\n\\nreturn null;\",\n    \"outputs\": 8,\n    \"noerr\": 0,\n    \"x\": 200,\n    \"y\": 60,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"power_flow_template\"],\n      [\"huawei_power_display\"],\n      [\"huawei_voltage_gauge\"],\n      [\"gc600_power_display\"],\n      [\"gc600_status_led\"],\n      [\"mc200_grid_power\"],\n      [\"grid_status_indicator\"],\n      [\"export_status_indicator\"]\n    ]\n  },\n  {\n    \"id\": \"mgcb_command_handler\",\n    \"type\": \"function\",\n    \"name\": \"MGCB Command Handler\",\n    \"func\": \"// Handle MGCB control command\\nconst command = {\\n    device: 'SICES MC200',\\n    action: 'mgcb_control',\\n    value: msg.payload,\\n    timestamp: new Date().toISOString(),\\n    source: 'manual_dashboard'\\n};\\n\\nmsg.payload = command;\\nmsg.topic = 'control/manual/mgcb';\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 400,\n    \"y\": 500,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"manual_command_processor\"]\n    ]\n  },\n  {\n    \"id\": \"genset_command_handler\",\n    \"type\": \"function\",\n    \"name\": \"Genset Command Handler\",\n    \"func\": \"// Handle genset start/stop command\\nconst command = {\\n    device: 'SICES GC600',\\n    action: msg.payload === 1 ? 'start_genset' : 'stop_genset',\\n    value: msg.payload,\\n    timestamp: new Date().toISOString(),\\n    source: 'manual_dashboard'\\n};\\n\\nmsg.payload = command;\\nmsg.topic = 'control/manual/genset';\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 600,\n    \"y\": 500,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"manual_command_processor\"]\n    ]\n  },\n  {\n    \"id\": \"export_command_handler\",\n    \"type\": \"function\",\n    \"name\": \"Export Command Handler\",\n    \"func\": \"// Handle export enable/disable command\\nconst command = {\\n    device: 'SICES MC200',\\n    action: 'export_enable',\\n    value: msg.payload,\\n    timestamp: new Date().toISOString(),\\n    source: 'manual_dashboard'\\n};\\n\\nmsg.payload = command;\\nmsg.topic = 'control/manual/export';\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 800,\n    \"y\": 500,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"manual_command_processor\"]\n    ]\n  },\n  {\n    \"id\": \"pv_limit_command_handler\",\n    \"type\": \"function\",\n    \"name\": \"PV Limit Command Handler\",\n    \"func\": \"// Handle PV power limit command\\nconst command = {\\n    device: 'Huawei SmartLogger 3000A',\\n    action: 'set_power_limit',\\n    value: msg.payload,\\n    timestamp: new Date().toISOString(),\\n    source: 'manual_dashboard'\\n};\\n\\nmsg.payload = command;\\nmsg.topic = 'control/manual/pv_limit';\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 400,\n    \"y\": 540,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"manual_command_processor\"]\n    ]\n  },\n  {\n    \"id\": \"genset_setpoint_command_handler\",\n    \"type\": \"function\",\n    \"name\": \"Genset Setpoint Handler\",\n    \"func\": \"// Handle genset power setpoint command\\nconst command = {\\n    device: 'SICES GC600',\\n    action: 'set_power_setpoint',\\n    value: msg.payload,\\n    timestamp: new Date().toISOString(),\\n    source: 'manual_dashboard'\\n};\\n\\nmsg.payload = command;\\nmsg.topic = 'control/manual/genset_setpoint';\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 600,\n    \"y\": 540,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"manual_command_processor\"]\n    ]\n  },\n  {\n    \"id\": \"manual_command_processor\",\n    \"type\": \"function\",\n    \"name\": \"Manual Command Processor\",\n    \"func\": \"// Process manual commands from dashboard\\nconst command = msg.payload;\\n\\n// Log manual command\\nnode.log(`Manual command: ${command.action} on ${command.device} with value ${command.value}`);\\n\\n// Override automatic control temporarily\\nconst manualOverride = global.get('manualOverride') || {};\\nmanualOverride[command.device] = {\\n    active: true,\\n    timestamp: command.timestamp,\\n    expires: Date.now() + 300000 // 5 minutes\\n};\\nglobal.set('manualOverride', manualOverride);\\n\\n// Forward to control logic\\nmsg.topic = 'control/manual';\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 800,\n    \"y\": 520,\n    \"z\": \"dashboard_flow\",\n    \"wires\": [\n      [\"manual_control_output\"]\n    ]\n  },\n  {\n    \"id\": \"manual_control_output\",\n    \"type\": \"debug\",\n    \"name\": \"Manual Control Output\",\n    \"active\": true,\n    \"tosidebar\": true,\n    \"console\": false,\n    \"tostatus\": false,\n    \"complete\": \"payload\",\n    \"targetType\": \"msg\",\n    \"statusVal\": \"\",\n    \"statusType\": \"auto\",\n    \"x\": 1000,\n    \"y\": 520,\n    \"z\": \"dashboard_flow\"\n  }\n]