flows/modbus_data_acquisition.json
[
  {
    "id": "modbus_data_flow",
    "type": "tab",
    "label": "Modbus Data Acquisition",
    "disabled": false,
    "info": "Real-time data acquisition from Huawei SmartLogger 3000A, SICES GC600, and SICES MC200"
  },
  {
    "id": "huawei_client",
    "type": "modbus-client",
    "name": "Huawei SmartLogger 3000A",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "tcpHost": "192.168.88.4",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "5000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "5000",
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "sices_gc600_client", 
    "type": "modbus-client",
    "name": "SICES GC600",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "tcpHost": "192.168.88.6",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "5000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "5000",
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "sices_mc200_client",
    "type": "modbus-client", 
    "name": "SICES MC200",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "tcpHost": "192.168.88.7",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "5000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "5000",
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "huawei_power_data",
    "type": "modbus-read",
    "name": "Huawei Power Data",
    "topic": "huawei/power",
    "showStatusActivities": false,
    "logIOActivities": false,
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "x": 200,
    "y": 100,
    "z": "modbus_data_flow",
    "server": "huawei_client",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "32064",
    "quantity": "20",
    "rate": "2000",
    "rateUnit": "ms",
    "delayOnStart": 1,
    "delayOnStartUnit": "s",
    "startDelayTime": "",
    "serverTab": "",
    "addressOffset": "",
    "wires": [
      ["huawei_power_parser"]
    ]
  },
  {
    "id": "huawei_power_parser",
    "type": "function",
    "name": "Parse Huawei Power",
    "func": "// Parse Huawei SmartLogger 3000A power data\nconst data = {};\nconst buffer = msg.payload;\n\nif (buffer && buffer.length >= 40) {\n    // Parse according to register map\n    data.active_power = (buffer.readInt32BE(0) / 1000).toFixed(2); // kW\n    data.reactive_power = (buffer.readInt32BE(4) / 1000).toFixed(2); // kVar\n    data.power_factor = (buffer.readInt16BE(8) / 1000).toFixed(3);\n    data.phase_a_voltage = (buffer.readUInt16BE(10) / 10).toFixed(1); // V\n    data.phase_b_voltage = (buffer.readUInt16BE(12) / 10).toFixed(1); // V\n    data.phase_c_voltage = (buffer.readUInt16BE(14) / 10).toFixed(1); // V\n    data.phase_a_current = (buffer.readInt16BE(16) / 100).toFixed(2); // A\n    data.phase_b_current = (buffer.readInt16BE(18) / 100).toFixed(2); // A  \n    data.phase_c_current = (buffer.readInt16BE(20) / 100).toFixed(2); // A\n    data.frequency = (buffer.readUInt16BE(42) / 100).toFixed(2); // Hz\n    data.status_1 = buffer.readUInt16BE(50);\n    data.status_2 = buffer.readUInt16BE(52);\n    data.alarm_1 = buffer.readUInt16BE(54);\n    data.alarm_2 = buffer.readUInt16BE(56);\n    \n    data.timestamp = new Date().toISOString();\n    data.device = 'Huawei SmartLogger 3000A';\n}\n\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 100,
    "z": "modbus_data_flow",
    "wires": [
      ["data_consolidator", "huawei_status_monitor"]
    ]
  },
  {
    "id": "gc600_power_data",
    "type": "modbus-read",
    "name": "GC600 Power Data", 
    "topic": "gc600/power",
    "showStatusActivities": false,
    "logIOActivities": false,
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "x": 200,
    "y": 200,
    "z": "modbus_data_flow",
    "server": "sices_gc600_client",
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "100",
    "quantity": "30",
    "rate": "3000",
    "rateUnit": "ms",
    "delayOnStart": 2,
    "delayOnStartUnit": "s",
    "wires": [
      ["gc600_power_parser"]
    ]
  },
  {
    "id": "gc600_power_parser",
    "type": "function",
    "name": "Parse GC600 Power",
    "func": "// Parse SICES GC600 power data\nconst data = {};\nconst buffer = msg.payload;\n\nif (buffer && buffer.length >= 60) {\n    data.active_power = (buffer.readUInt32BE(0) / 1000).toFixed(2); // kW\n    data.reactive_power = (buffer.readInt32BE(4) / 1000).toFixed(2); // kVar\n    data.apparent_power = (buffer.readUInt32BE(8) / 1000).toFixed(2); // kVA\n    data.power_factor = (buffer.readInt16BE(12) / 1000).toFixed(3);\n    data.voltage_l1n = (buffer.readUInt16BE(20) / 10).toFixed(1); // V\n    data.voltage_l2n = (buffer.readUInt16BE(22) / 10).toFixed(1); // V\n    data.voltage_l3n = (buffer.readUInt16BE(24) / 10).toFixed(1); // V\n    data.current_l1 = (buffer.readUInt16BE(40) / 100).toFixed(2); // A\n    data.current_l2 = (buffer.readUInt16BE(42) / 100).toFixed(2); // A\n    data.current_l3 = (buffer.readUInt16BE(44) / 100).toFixed(2); // A\n    data.frequency = (buffer.readUInt16BE(60) / 100).toFixed(2); // Hz\n    \n    data.timestamp = new Date().toISOString();\n    data.device = 'SICES GC600';\n}\n\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 200,
    "z": "modbus_data_flow",
    "wires": [
      ["data_consolidator", "gc600_status_monitor"]
    ]
  },
  {
    "id": "mc200_grid_data",
    "type": "modbus-read",
    "name": "MC200 Grid Data",
    "topic": "mc200/grid",
    "showStatusActivities": false,
    "logIOActivities": false,
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "x": 200,
    "y": 300,
    "z": "modbus_data_flow",
    "server": "sices_mc200_client",
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "1",
    "quantity": "75",
    "rate": "2000",
    "rateUnit": "ms",
    "delayOnStart": 3,
    "delayOnStartUnit": "s",
    "wires": [
      ["mc200_grid_parser"]
    ]
  },
  {
    "id": "mc200_grid_parser",
    "type": "function",
    "name": "Parse MC200 Grid",
    "func": "// Parse SICES MC200 grid monitoring data\nconst data = {};\nconst buffer = msg.payload;\n\nif (buffer && buffer.length >= 150) {\n    data.active_power_total = (buffer.readInt32BE(0) / 1000).toFixed(2); // kW (+import, -export)\n    data.reactive_power_total = (buffer.readInt32BE(4) / 1000).toFixed(2); // kVar\n    data.apparent_power_total = (buffer.readUInt32BE(8) / 1000).toFixed(2); // kVA\n    data.power_factor_total = (buffer.readInt16BE(12) / 1000).toFixed(3);\n    \n    data.active_power_l1 = (buffer.readInt32BE(18) / 1000).toFixed(2); // kW\n    data.active_power_l2 = (buffer.readInt32BE(22) / 1000).toFixed(2); // kW\n    data.active_power_l3 = (buffer.readInt32BE(26) / 1000).toFixed(2); // kW\n    \n    data.voltage_l1n = (buffer.readUInt16BE(38) / 10).toFixed(1); // V\n    data.voltage_l2n = (buffer.readUInt16BE(40) / 10).toFixed(1); // V\n    data.voltage_l3n = (buffer.readUInt16BE(42) / 10).toFixed(1); // V\n    \n    data.current_l1 = (buffer.readUInt16BE(58) / 100).toFixed(2); // A\n    data.current_l2 = (buffer.readUInt16BE(60) / 100).toFixed(2); // A\n    data.current_l3 = (buffer.readUInt16BE(62) / 100).toFixed(2); // A\n    \n    data.frequency = (buffer.readUInt16BE(78) / 100).toFixed(2); // Hz\n    \n    data.import_energy_total = (buffer.readUInt32BE(98) / 100).toFixed(2); // kWh\n    data.export_energy_total = (buffer.readUInt32BE(102) / 100).toFixed(2); // kWh\n    \n    data.phase_sequence = buffer.readUInt16BE(118);\n    data.grid_status = buffer.readUInt16BE(120);\n    data.protection_status = buffer.readUInt16BE(122);\n    \n    // Calculate import/export status\n    data.is_importing = parseFloat(data.active_power_total) > 0;\n    data.is_exporting = parseFloat(data.active_power_total) < 0;\n    data.export_power = data.is_exporting ? Math.abs(parseFloat(data.active_power_total)) : 0;\n    data.import_power = data.is_importing ? parseFloat(data.active_power_total) : 0;\n    \n    data.timestamp = new Date().toISOString();\n    data.device = 'SICES MC200';\n}\n\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 300,
    "z": "modbus_data_flow",
    "wires": [
      ["data_consolidator", "mc200_status_monitor", "zero_export_controller"]
    ]
  },
  {
    "id": "data_consolidator",
    "type": "function",
    "name": "Data Consolidator",
    "func": "// Consolidate all device data\nconst devices = global.get('devices') || {};\nconst deviceName = msg.payload.device;\n\nif (deviceName) {\n    devices[deviceName] = msg.payload;\n    global.set('devices', devices);\n    \n    // Send consolidated data every 5 seconds\n    const lastSent = global.get('lastDataSent') || 0;\n    const now = Date.now();\n    \n    if (now - lastSent > 5000) {\n        global.set('lastDataSent', now);\n        msg.payload = {\n            timestamp: new Date().toISOString(),\n            devices: devices,\n            consolidated: true\n        };\n        return msg;\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 200,
    "z": "modbus_data_flow",
    "wires": [
      ["dashboard_update", "data_logger"]
    ]
  },
  {
    "id": "huawei_status_monitor",
    "type": "function",
    "name": "Huawei Status Monitor",
    "func": "// Monitor Huawei inverter status and alarms\nconst data = msg.payload;\nconst alarms = [];\n\nif (data.alarm_1 > 0 || data.alarm_2 > 0) {\n    alarms.push({\n        device: 'Huawei SmartLogger 3000A',\n        type: 'alarm',\n        alarm_1: data.alarm_1,\n        alarm_2: data.alarm_2,\n        timestamp: data.timestamp\n    });\n}\n\nif (alarms.length > 0) {\n    msg.payload = alarms;\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 100,
    "z": "modbus_data_flow",
    "wires": [
      ["alarm_handler"]
    ]
  },
  {
    "id": "gc600_status_monitor",
    "type": "function",
    "name": "GC600 Status Monitor",
    "func": "// Monitor GC600 genset status\nconst data = msg.payload;\nconst status = [];\n\n// Add genset operational status monitoring logic here\nstatus.push({\n    device: 'SICES GC600',\n    active_power: data.active_power,\n    frequency: data.frequency,\n    operational: parseFloat(data.active_power) > 0,\n    timestamp: data.timestamp\n});\n\nmsg.payload = status;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 160,
    "z": "modbus_data_flow",
    "wires": [
      ["genset_controller"]
    ]
  },
  {
    "id": "mc200_status_monitor",
    "type": "function",
    "name": "MC200 Status Monitor",
    "func": "// Monitor MC200 grid status and protection\nconst data = msg.payload;\nconst status = [];\n\nstatus.push({\n    device: 'SICES MC200',\n    grid_status: data.grid_status,\n    protection_status: data.protection_status,\n    phase_sequence: data.phase_sequence,\n    import_export_status: {\n        importing: data.is_importing,\n        exporting: data.is_exporting,\n        import_power: data.import_power,\n        export_power: data.export_power\n    },\n    timestamp: data.timestamp\n});\n\nmsg.payload = status;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 260,
    "z": "modbus_data_flow",
    "wires": [
      ["grid_controller"]
    ]
  },
  {
    "id": "zero_export_controller",
    "type": "function",
    "name": "Zero Export Controller",
    "func": "// Zero export to grid control logic\nconst data = msg.payload;\nconst zeroExportThreshold = global.get('zeroExportThreshold') || 50; // Watts\nconst exportPower = parseFloat(data.export_power) || 0;\n\nif (exportPower > zeroExportThreshold) {\n    // Trigger PV curtailment\n    const curtailmentCommand = {\n        device: 'Huawei SmartLogger 3000A',\n        action: 'curtail_power',\n        target_power_limit: Math.max(0, 100 - (exportPower / 10)), // Reduce by export amount\n        reason: 'zero_export_protection',\n        timestamp: new Date().toISOString()\n    };\n    \n    msg.payload = curtailmentCommand;\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 320,
    "z": "modbus_data_flow",
    "wires": [
      ["pv_controller"]
    ]
  },
  {
    "id": "alarm_handler",
    "type": "debug",
    "name": "Alarm Handler",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 100,
    "z": "modbus_data_flow"
  },
  {
    "id": "genset_controller",
    "type": "debug",
    "name": "Genset Controller",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 160,
    "z": "modbus_data_flow"
  },
  {
    "id": "grid_controller",
    "type": "debug", 
    "name": "Grid Controller",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 260,
    "z": "modbus_data_flow"
  },
  {
    "id": "pv_controller",
    "type": "debug",
    "name": "PV Controller",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 320,
    "z": "modbus_data_flow"
  },
  {
    "id": "dashboard_update",
    "type": "debug",
    "name": "Dashboard Update",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 200,
    "z": "modbus_data_flow"
  },
  {
    "id": "data_logger",
    "type": "debug",
    "name": "Data Logger",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 240,
    "z": "modbus_data_flow"
  }
]