flows/power_control_logic.json
[
  {
    "id": "control_logic_flow",
    "type": "tab",
    "label": "Power Control Logic",
    "disabled": false,
    "info": "Advanced control logic for zero export, load sharing, and genset management"
  },
  {
    "id": "control_coordinator",
    "type": "function",
    "name": "Control Coordinator",
    "func": "// Main control coordination logic\nconst devices = global.get('devices') || {};\nconst control = global.get('control') || {\n    zeroExportThreshold: 50,\n    loadShareRampRate: 1.0,\n    gensetMinRunTime: 300,\n    gensetCooldownTime: 120,\n    pvPriority: true,\n    gensetRunning: false,\n    lastGensetStop: 0\n};\n\nconst now = Date.now();\nconst huawei = devices['Huawei SmartLogger 3000A'] || {};\nconst gc600 = devices['SICES GC600'] || {};\nconst mc200 = devices['SICES MC200'] || {};\n\n// Calculate total system parameters\nconst pvPower = parseFloat(huawei.active_power) || 0;\nconst gensetPower = parseFloat(gc600.active_power) || 0;\nconst gridPower = parseFloat(mc200.active_power_total) || 0;\nconst exportPower = mc200.is_exporting ? Math.abs(gridPower) : 0;\nconst importPower = mc200.is_importing ? gridPower : 0;\n\n// Total load calculation\nconst totalLoad = pvPower + gensetPower - exportPower + importPower;\n\nconst controlData = {\n    timestamp: new Date().toISOString(),\n    system_status: {\n        pv_power: pvPower,\n        genset_power: gensetPower,\n        grid_power: gridPower,\n        export_power: exportPower,\n        import_power: importPower,\n        total_load: totalLoad\n    },\n    control_decisions: []\n};\n\n// Zero Export Control Logic\nif (exportPower > control.zeroExportThreshold) {\n    const excessPower = exportPower;\n    \n    // First priority: Curtail PV if possible\n    if (pvPower > excessPower) {\n        const newPvLimit = Math.max(10, 100 - (excessPower / pvPower * 100));\n        controlData.control_decisions.push({\n            device: 'Huawei SmartLogger 3000A',\n            action: 'set_power_limit',\n            value: newPvLimit,\n            reason: 'zero_export_protection',\n            priority: 1\n        });\n    }\n    \n    // Second priority: Increase genset load if running\n    if (control.gensetRunning && gensetPower < totalLoad) {\n        const gensetIncrease = Math.min(excessPower, totalLoad - gensetPower);\n        const newGensetSetpoint = Math.min(100, (gensetPower + gensetIncrease) / totalLoad * 100);\n        controlData.control_decisions.push({\n            device: 'SICES GC600',\n            action: 'set_power_setpoint',\n            value: newGensetSetpoint,\n            reason: 'absorb_excess_pv',\n            priority: 2\n        });\n    }\n}\n\n// Load Sharing Logic with PV Priority\nif (control.pvPriority && totalLoad > 0) {\n    const pvContribution = (pvPower / totalLoad * 100).toFixed(1);\n    const gensetContribution = (gensetPower / totalLoad * 100).toFixed(1);\n    const gridContribution = (Math.abs(gridPower) / totalLoad * 100).toFixed(1);\n    \n    controlData.load_sharing = {\n        pv_contribution: pvContribution,\n        genset_contribution: gensetContribution,\n        grid_contribution: gridContribution\n    };\n    \n    // Genset management based on load and PV availability\n    const pvAvailabilityRatio = pvPower / totalLoad;\n    \n    // Start genset if PV can't meet load and grid import is high\n    if (!control.gensetRunning && \n        pvAvailabilityRatio < 0.7 && \n        importPower > 50 &&\n        now - control.lastGensetStop > control.gensetCooldownTime * 1000) {\n        \n        controlData.control_decisions.push({\n            device: 'SICES GC600',\n            action: 'start_genset',\n            value: 1,\n            reason: 'insufficient_pv_high_import',\n            priority: 1\n        });\n        control.gensetRunning = true;\n        control.gensetStartTime = now;\n    }\n    \n    // Stop genset if PV can meet most of the load\n    if (control.gensetRunning && \n        pvAvailabilityRatio > 0.9 &&\n        now - control.gensetStartTime > control.gensetMinRunTime * 1000) {\n        \n        controlData.control_decisions.push({\n            device: 'SICES GC600',\n            action: 'stop_genset',\n            value: 0,\n            reason: 'sufficient_pv_available',\n            priority: 1\n        });\n        control.gensetRunning = false;\n        control.lastGensetStop = now;\n    }\n}\n\n// Gradual Genset Ramp Logic\nif (control.gensetRunning) {\n    const currentGensetLoad = gensetPower / totalLoad * 100 || 0;\n    const targetGensetLoad = Math.max(20, Math.min(80, 100 - (pvPower / totalLoad * 100)));\n    \n    if (Math.abs(targetGensetLoad - currentGensetLoad) > 5) {\n        const rampDirection = targetGensetLoad > currentGensetLoad ? 1 : -1;\n        const rampStep = control.loadShareRampRate * rampDirection;\n        const newSetpoint = Math.max(0, Math.min(100, currentGensetLoad + rampStep));\n        \n        controlData.control_decisions.push({\n            device: 'SICES GC600',\n            action: 'gradual_ramp',\n            value: newSetpoint,\n            reason: 'load_balancing',\n            priority: 3\n        });\n    }\n}\n\n// Save control state\nglobal.set('control', control);\n\nmsg.payload = controlData;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 200,
    "y": 200,
    "z": "control_logic_flow",
    "wires": [
      ["control_dispatcher"]
    ]
  },
  {
    "id": "control_dispatcher", 
    "type": "function",
    "name": "Control Dispatcher",
    "func": "// Dispatch control commands to appropriate devices\nconst controlData = msg.payload;\nconst decisions = controlData.control_decisions || [];\n\n// Sort decisions by priority\ndecisions.sort((a, b) => a.priority - b.priority);\n\nconst commands = [];\n\ndecisions.forEach(decision => {\n    let command = {\n        timestamp: new Date().toISOString(),\n        device: decision.device,\n        action: decision.action,\n        value: decision.value,\n        reason: decision.reason,\n        priority: decision.priority\n    };\n    \n    // Map to specific Modbus commands\n    switch(decision.device) {\n        case 'Huawei SmartLogger 3000A':\n            if (decision.action === 'set_power_limit') {\n                command.modbus = {\n                    function: 'writeHoldingRegisters',\n                    address: 47415,\n                    value: Math.round(decision.value * 10), // Scale for register\n                    quantity: 1\n                };\n            }\n            break;\n            \n        case 'SICES GC600':\n            if (decision.action === 'start_genset') {\n                command.modbus = {\n                    function: 'writeHoldingRegisters',\n                    address: 1000,\n                    value: 1,\n                    quantity: 1\n                };\n            } else if (decision.action === 'stop_genset') {\n                command.modbus = {\n                    function: 'writeHoldingRegisters',\n                    address: 1000,\n                    value: 0,\n                    quantity: 1\n                };\n            } else if (decision.action === 'set_power_setpoint' || decision.action === 'gradual_ramp') {\n                command.modbus = {\n                    function: 'writeHoldingRegisters',\n                    address: 1001,\n                    value: Math.round(decision.value * 10), // Scale for register\n                    quantity: 1\n                };\n            }\n            break;\n            \n        case 'SICES MC200':\n            if (decision.action === 'mgcb_control') {\n                command.modbus = {\n                    function: 'writeHoldingRegisters',\n                    address: 1000,\n                    value: decision.value,\n                    quantity: 1\n                };\n            } else if (decision.action === 'export_enable') {\n                command.modbus = {\n                    function: 'writeHoldingRegisters', \n                    address: 1001,\n                    value: decision.value,\n                    quantity: 1\n                };\n            }\n            break;\n    }\n    \n    commands.push(command);\n});\n\nmsg.payload = {\n    system_status: controlData.system_status,\n    load_sharing: controlData.load_sharing,\n    commands: commands,\n    timestamp: controlData.timestamp\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 200,
    "z": "control_logic_flow",
    "wires": [
      ["command_executor", "control_logger"]
    ]
  },
  {
    "id": "command_executor",
    "type": "function",
    "name": "Command Executor",
    "func": "// Execute Modbus write commands\nconst data = msg.payload;\nconst commands = data.commands || [];\n\ncommands.forEach((command, index) => {\n    if (command.modbus) {\n        // Prepare message for Modbus write\n        const writeMsg = {\n            topic: `command/${command.device.replace(/\\s+/g, '_').toLowerCase()}`,\n            payload: {\n                device: command.device,\n                function: command.modbus.function,\n                address: command.modbus.address,\n                value: command.modbus.value,\n                quantity: command.modbus.quantity,\n                timestamp: command.timestamp,\n                reason: command.reason,\n                priority: command.priority\n            }\n        };\n        \n        // Send with delay to avoid command conflicts\n        setTimeout(() => {\n            node.send(writeMsg);\n        }, index * 100);\n    }\n});\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 180,
    "z": "control_logic_flow",
    "wires": [\n      [\"huawei_write_handler\", \"gc600_write_handler\", \"mc200_write_handler\"]\n    ]\n  },\n  {\n    \"id\": \"huawei_write_handler\",\n    \"type\": \"switch\",\n    \"name\": \"Huawei Commands\",\n    \"property\": \"topic\",\n    \"propertyType\": \"msg\",\n    \"rules\": [\n      {\n        \"t\": \"cont\",\n        \"v\": \"huawei_smartlogger_3000a\",\n        \"vt\": \"str\"\n      }\n    ],\n    \"checkall\": \"true\",\n    \"repair\": false,\n    \"outputs\": 1,\n    \"x\": 800,\n    \"y\": 140,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"huawei_modbus_write\"]\n    ]\n  },\n  {\n    \"id\": \"gc600_write_handler\",\n    \"type\": \"switch\",\n    \"name\": \"GC600 Commands\",\n    \"property\": \"topic\",\n    \"propertyType\": \"msg\",\n    \"rules\": [\n      {\n        \"t\": \"cont\",\n        \"v\": \"sices_gc600\",\n        \"vt\": \"str\"\n      }\n    ],\n    \"checkall\": \"true\",\n    \"repair\": false,\n    \"outputs\": 1,\n    \"x\": 800,\n    \"y\": 180,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"gc600_modbus_write\"]\n    ]\n  },\n  {\n    \"id\": \"mc200_write_handler\",\n    \"type\": \"switch\",\n    \"name\": \"MC200 Commands\",\n    \"property\": \"topic\",\n    \"propertyType\": \"msg\",\n    \"rules\": [\n      {\n        \"t\": \"cont\",\n        \"v\": \"sices_mc200\",\n        \"vt\": \"str\"\n      }\n    ],\n    \"checkall\": \"true\",\n    \"repair\": false,\n    \"outputs\": 1,\n    \"x\": 800,\n    \"y\": 220,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"mc200_modbus_write\"]\n    ]\n  },\n  {\n    \"id\": \"huawei_modbus_write\",\n    \"type\": \"modbus-write\",\n    \"name\": \"Huawei Modbus Write\",\n    \"showStatusActivities\": false,\n    \"showErrors\": true,\n    \"unitid\": \"1\",\n    \"dataType\": \"HoldingRegister\",\n    \"adr\": \"\",\n    \"quantity\": \"\",\n    \"server\": \"huawei_client\",\n    \"emptyMsgOnFail\": false,\n    \"keepMsgProperties\": false,\n    \"x\": 1000,\n    \"y\": 140,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"write_confirmation\"]\n    ]\n  },\n  {\n    \"id\": \"gc600_modbus_write\",\n    \"type\": \"modbus-write\",\n    \"name\": \"GC600 Modbus Write\",\n    \"showStatusActivities\": false,\n    \"showErrors\": true,\n    \"unitid\": \"1\",\n    \"dataType\": \"HoldingRegister\",\n    \"adr\": \"\",\n    \"quantity\": \"\",\n    \"server\": \"sices_gc600_client\",\n    \"emptyMsgOnFail\": false,\n    \"keepMsgProperties\": false,\n    \"x\": 1000,\n    \"y\": 180,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"write_confirmation\"]\n    ]\n  },\n  {\n    \"id\": \"mc200_modbus_write\",\n    \"type\": \"modbus-write\",\n    \"name\": \"MC200 Modbus Write\",\n    \"showStatusActivities\": false,\n    \"showErrors\": true,\n    \"unitid\": \"1\",\n    \"dataType\": \"HoldingRegister\",\n    \"adr\": \"\",\n    \"quantity\": \"\",\n    \"server\": \"sices_mc200_client\",\n    \"emptyMsgOnFail\": false,\n    \"keepMsgProperties\": false,\n    \"x\": 1000,\n    \"y\": 220,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"write_confirmation\"]\n    ]\n  },\n  {\n    \"id\": \"control_logger\",\n    \"type\": \"function\",\n    \"name\": \"Control Logger\",\n    \"func\": \"// Log control decisions and system status\\nconst data = msg.payload;\\nconst logEntry = {\\n    timestamp: data.timestamp,\\n    system_status: data.system_status,\\n    load_sharing: data.load_sharing,\\n    commands_issued: data.commands.length,\\n    commands: data.commands.map(cmd => ({\\n        device: cmd.device,\\n        action: cmd.action,\\n        value: cmd.value,\\n        reason: cmd.reason\\n    }))\\n};\\n\\n// Store in context for dashboard\\nconst controlHistory = context.get('controlHistory') || [];\\ncontrolHistory.push(logEntry);\\n\\n// Keep only last 100 entries\\nif (controlHistory.length > 100) {\\n    controlHistory.shift();\\n}\\n\\ncontext.set('controlHistory', controlHistory);\\nglobal.set('lastControlDecision', logEntry);\\n\\nmsg.payload = logEntry;\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 600,\n    \"y\": 240,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"dashboard_control_update\"]\n    ]\n  },\n  {\n    \"id\": \"write_confirmation\",\n    \"type\": \"function\",\n    \"name\": \"Write Confirmation\",\n    \"func\": \"// Log successful/failed write operations\\nconst confirmation = {\\n    timestamp: new Date().toISOString(),\\n    device: msg.payload.device || 'unknown',\\n    success: !msg.error,\\n    error: msg.error || null,\\n    address: msg.payload.address,\\n    value: msg.payload.value\\n};\\n\\n// Store confirmation for monitoring\\nconst writeHistory = context.get('writeHistory') || [];\\nwriteHistory.push(confirmation);\\n\\nif (writeHistory.length > 50) {\\n    writeHistory.shift();\\n}\\n\\ncontext.set('writeHistory', writeHistory);\\n\\nmsg.payload = confirmation;\\nreturn msg;\",\n    \"outputs\": 1,\n    \"noerr\": 0,\n    \"x\": 1200,\n    \"y\": 180,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"command_status_logger\"]\n    ]\n  },\n  {\n    \"id\": \"dashboard_control_update\",\n    \"type\": \"debug\",\n    \"name\": \"Control Dashboard Update\",\n    \"active\": true,\n    \"tosidebar\": true,\n    \"console\": false,\n    \"tostatus\": false,\n    \"complete\": \"payload\",\n    \"targetType\": \"msg\",\n    \"statusVal\": \"\",\n    \"statusType\": \"auto\",\n    \"x\": 820,\n    \"y\": 240,\n    \"z\": \"control_logic_flow\"\n  },\n  {\n    \"id\": \"command_status_logger\",\n    \"type\": \"debug\",\n    \"name\": \"Command Status\",\n    \"active\": true,\n    \"tosidebar\": true,\n    \"console\": false,\n    \"tostatus\": false,\n    \"complete\": \"payload\",\n    \"targetType\": \"msg\",\n    \"statusVal\": \"\",\n    \"statusType\": \"auto\",\n    \"x\": 1200,\n    \"y\": 240,\n    \"z\": \"control_logic_flow\"\n  },\n  {\n    \"id\": \"control_timer\",\n    \"type\": \"inject\",\n    \"name\": \"Control Loop Timer\",\n    \"props\": [\n      {\n        \"p\": \"payload\"\n      },\n      {\n        \"p\": \"topic\",\n        \"vt\": \"str\"\n      }\n    ],\n    \"repeat\": \"5\",\n    \"crontab\": \"\",\n    \"once\": true,\n    \"onceDelay\": \"10\",\n    \"topic\": \"control/timer\",\n    \"payload\": \"\",\n    \"payloadType\": \"date\",\n    \"x\": 180,\n    \"y\": 140,\n    \"z\": \"control_logic_flow\",\n    \"wires\": [\n      [\"control_coordinator\"]\n    ]\n  }\n]